body{
    background: url("http://test.ionelcostel.eu/imgs/snow.jpg") no-repeat center center fixed; 

}
.content{
    background: rgba(255,255,255,0.7);
    border-radius: 5px;
  padding-bottom:20px;
  padding-top:20px;
}

.container {
padding:200px;
}
.container input{
    text-align: center;
}

